 <!-- Contact Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="text-primary text-uppercase"> Contact Us </h6>
            <h1 class="mb-5">Contact For Any Query</h1>
        </div>
        <div class="row g-4">
            <div class="col-12">
                <div class="row gy-4">
                    <div class="col-md-4">
                        <div class="bg-light d-flex flex-column justify-content-center p-4">
                            <h5 class="text-uppercase">Booking </h5>
                            <p class="m-0"><i class="fa fa-envelope-open text-primary me-2"></i>book@carser.com</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="bg-light d-flex flex-column justify-content-center p-4">
                            <h5 class="text-uppercase"> General </h5>
                            <p class="m-0"><i class="fa fa-envelope-open text-primary me-2"></i>info@carser.com</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="bg-light d-flex flex-column justify-content-center p-4">
                            <h5 class="text-uppercase"> Technical </h5>
                            <p class="m-0"><i class="fa fa-envelope-open text-primary me-2"></i>tech@carser.com</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="bg-light d-flex flex-column justify-content-center p-4">
                            <h5 class="text-uppercase"> Address </h5>
                            <p class="m-0"><i class="fa fa-envelope-open text-primary me-2"></i>26 Street, Amman, Jordan</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="bg-light d-flex flex-column justify-content-center p-4">
                            <h5 class="text-uppercase"> Mobile Number  </h5>
                            <p class="m-0"><i class="fa fa-envelope-open text-primary me-2"></i>+962777000000</p>
                        </div>
                    </div>
                </div>
            </div>
          
        </div>
    </div>
</div>
<!-- Contact End -->